*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#fbd7f6;
    color:#fff;
    line-height:1.8;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.logo {
    font-size:32px;
    text-decoration:none;
    font-family: "Rye", serif;
    font-weight: 250;
    font-style: normal;
}

header{
    position:sticky;
    top:0;
    background:#fae9ff2e;
    z-index:1000;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
}

header h1{
    color:rgb(1, 13, 119);
    font-size:40px;
}

nav{
    display:flex;
    gap: 105px;
}

nav a{
    color:rgb(1, 13, 119);
    text-decoration:none;
    transition:.3s;
    font-size:20px;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
    color: rgb(255, 187, 246);
    background-color: rgb(1, 13, 119);
    border: solid rgb(255, 187, 246);
    padding: 10px 10px 10px 10px;
    border-width: 3px;
    border-radius: 27px;
}

.up-part {
    margin: 0px;
    font-family: "New Rocker", system-ui;
    border-bottom: 1px solid rgb(255, 0, 162);
}

.up-part h1 {
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part p {
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part h2 {
    font-size: 35px;
    color:white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part {
    height: 100vh;
    background: url('Images/Laptop-Wallpaper-190.webp') no-repeat center center/cover;
    position: relative;
}

.box{
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    left:20px;
    background-color: rgba(58, 115, 173, 0.4);
    backdrop-filter: blur(5px);
}

.title h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:330px;
    left:400px;
    font-size: 80px;
    font-family:fantasy;
    -webkit-text-stroke: 0.1px black;
    color: rgba(255, 255, 255, 0.9);
}

.download{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: rgba(58, 115, 173, 0.4);
    backdrop-filter: blur(5px);
}

.link{
    text-decoration: none;
    padding-bottom: 25px;
    padding-left: 25px;
    font-size: 33px;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-family: "New Rocker", system-ui;
    font-weight: 650;
    color: greenyellow;
    -webkit-text-stroke: 0.9px white;
}

.link:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
    color:blue;
    -webkit-text-stroke: 0.9px yellow;
}

.down-part{
    background:
    radial-gradient(circle at top right,rgba(255, 0, 162, 0.15),transparent 30%),
    radial-gradient(circle at bottom left,rgba(239, 52, 192, 0.12),transparent 35%),
    linear-gradient(135deg,rgb(251, 71, 179),rgb(255, 104, 217),rgb(244, 112, 211));
    height:100vh;
    position: relative;
     border-bottom: 1px solid rgb(255, 0, 162);
}

.box-image{
    height:auto;
    width:520px;
    border-radius: 25px;
}

.rix{
    border-radius: 25px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    padding: 25px 25px 15px 25px;
    background-color: rgb(255, 0, 162);
    backdrop-filter: blur(5px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: black 0.5px;
}

.ric{
    position: absolute;
    bottom: 240px;
    right: 200px;
}

.download-page{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 80px;
    right: 500px;
    background-color: rgb(239, 52, 192);
    backdrop-filter: blur(5px);
}

.download-page h1{
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





.up-part1 {
    margin: 0px;
    font-family: "New Rocker", system-ui;
     border-bottom: 1px solid rgb(0, 9, 165);
}

.up-part1 h1 {
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part1 p {
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part1 h2 {
    font-size: 35px;
    color:white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part1 {
    height: 100vh;
    background: url('Images/Laptop-Wallpaper-209.webp') no-repeat center center/cover;
    position: relative;
}

.box1{
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    left:20px;
    background-color: rgba(58, 115, 173, 0.4);
    backdrop-filter: blur(5px);
}

.title1 h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:330px;
    left:400px;
    font-size: 80px;
    font-family:fantasy;
    -webkit-text-stroke: 0.1px black;
    color: rgba(255, 255, 255, 0.9);
}

.download1{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: rgba(58, 115, 173, 0.4);
    backdrop-filter: blur(5px);
}

.link1{
    text-decoration: none;
    padding-bottom: 25px;
    padding-left: 25px;
    font-size: 33px;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-family: "New Rocker", system-ui;
    font-weight: 650;
    color: greenyellow;
    -webkit-text-stroke: 0.9px white;
}

.link1:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
    color:blue;
    -webkit-text-stroke: 0.9px yellow;
}


.down-part1{
    background:
    radial-gradient(circle at top right,rgba(51, 0, 255, 0.15),transparent 30%),
    radial-gradient(circle at bottom left,rgba(65, 52, 239, 0.12),transparent 35%),
    linear-gradient(135deg,rgb(33, 43, 243),rgb(18, 38, 217),rgb(0, 9, 165));
    height:100vh;
    position: relative;
     border-bottom: 1px solid rgb(0, 9, 165);
}

.box-image1{
    height:auto;
    width:520px;
    border-radius: 25px;
}

.rix1{
    border-radius: 25px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    padding: 25px 25px 15px 25px;
    background-color: rgb(15, 2, 208);
    backdrop-filter: blur(5px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: black 0.5px;
}

.ric1{
    position: absolute;
    bottom: 240px;
    right: 200px;
}

.download-page1{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 80px;
    right: 500px;
    background-color: rgb(39, 100, 254);
    backdrop-filter: blur(5px);
}

.download-page1 h1{
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






.up-part2 {
    margin: 0px;
    font-family: "New Rocker", system-ui;
     border-bottom: 1px solid rgb(65, 70, 84);
}

.up-part2 h1 {
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part2 p {
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part2 h2 {
    font-size: 35px;
    color:white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.up-part2 {
    height: 100vh;
    background: url('Images/Laptop-Wallpaper-208.webp') no-repeat center center/cover;
    position: relative;
}

.box2{
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    left:20px;
    background-color: rgba(58, 115, 173, 0.4);
    backdrop-filter: blur(5px);
}

.title2 h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:330px;
    left:400px;
    font-size: 80px;
    font-family:fantasy;
    -webkit-text-stroke: 0.1px black;
    color: rgba(255, 255, 255, 0.9);
}

.download2{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: rgba(58, 115, 173, 0.4);
    backdrop-filter: blur(5px);
}

.link2{
    text-decoration: none;
    padding-bottom: 25px;
    padding-left: 25px;
    font-size: 33px;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-family: "New Rocker", system-ui;
    font-weight: 650;
    color: greenyellow;
    -webkit-text-stroke: 0.9px white;
}

.link2:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
    color:blue;
    -webkit-text-stroke: 0.9px yellow;
}


.down-part2{
    background:
    radial-gradient(circle at top right,rgba(134, 129, 154, 0.15),transparent 30%),
    radial-gradient(circle at bottom left,rgba(81, 79, 107, 0.12),transparent 35%),
    linear-gradient(135deg,rgb(165, 166, 177),rgb(105, 108, 136),rgb(65, 70, 84));
    height:100vh;
    position: relative;
     border-bottom: 1px solid rgb(65, 70, 84);
}

.box-image2{
    height:auto;
    width:520px;
    border-radius: 25px;
}

.rix2{
    border-radius: 25px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    padding: 25px 25px 15px 25px;
    background-color: rgb(92, 90, 108);
    backdrop-filter: blur(5px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: black 0.5px;
}

.ric2{
    position: absolute;
    bottom: 240px;
    right: 200px;
}

.download-page2{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 80px;
    right: 500px;
    background-color: rgb(124, 134, 158);
    backdrop-filter: blur(5px);
}

.download-page2 h1{
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





.down-part-mobile{
    background:
    radial-gradient(circle at top right,rgba(255, 0, 0, 0.15),transparent 30%),
    radial-gradient(circle at bottom left,rgba(175, 1, 1, 0.12),transparent 35%),
    linear-gradient(135deg,#670000,#630000,#9c0000);
    height:100vh;
    position: relative;
    border-bottom: 1px solid rgb(66, 15, 15);
}

.box-image-mobile{
    height:auto;
    width:520px;
    border-radius: 25px;
}

.rix-mobile{
    border-radius: 25px;
    position: absolute;
    bottom: 350px;
    left: 100px;
    padding: 25px 25px 15px 25px;
    background-color: rgb(84, 2, 5);
    backdrop-filter: blur(5px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: black 0.5px;
    font-size: 18px;
}

.ric-mobile{
    position: absolute;
    bottom: 100px;
    right: 200px;
}

.ric-mobile img{
    height: 560px;
    width: 330px;
    border: 2.5px solid white;
}

.download-page-mobile{
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 0px;
    padding-left: 35px;
    padding-right: 35px;
    position: absolute;
    bottom: 115px;
    left: 100px;
    background-color: rgb(120, 5, 5);
    backdrop-filter: blur(5px);
}

.download-page-mobile h1{
    font-size:45px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    justify-content: left;
    text-align: left;
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
